<template>
  <div class="dashboard-container">
    <div class="container">
      <div class="tableBar">
        <label style="margin-right: 10px"> 员工姓名：</label>
        <el-input v-model="name" placeholder="请输入员工姓名" style="width: 15%" />
        <el-button type="primary" style="margin-left: 10px" @click="pageQuery()">查询</el-button>
        <el-button type="primary" style="float: right">+ 添加员工</el-button>
      </div>


      <el-table :data="records" stripe style="width: 100%">
        <el-table-column prop="name" label="员工姓名" width="180">
        </el-table-column>
        <el-table-column prop="username" label="账号" width="180">
        </el-table-column>
        <el-table-column prop="phone" label="手机号">
        </el-table-column>
        </el-table-column>
        <el-table-column prop="status" label="账号状态">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.status === 1" type="success">正常</el-tag>
            <el-tag v-else type="danger">禁用</el-tag>
          </template>
        </el-table-column>
        </el-table-column>
        <el-table-column prop="updateTime" label="最后操作时间">
        </el-table-column>
      </el-table>


    </div>
  </div>
</template>
<script lang="ts">
  import { getEmployeeList } from '../../api/employee'; //导入获取员工列表的方法
  export default {
    data() {
      return {
        name: '',     //员工姓名
        page: 1,      //当前页    
        pageSize: 10,     //每页显示的记录数
        total: 0,     //总记录数
        records: []   //当前页面要展示的数据
      }
    },
    created() {
      //当前页页面加载之后自动执行代码
      this.pageQuery();
    },

    methods: {
      //分页查询
      pageQuery() {
        //准备请求参数
        const params = { name: this.name, page: this.page, pageSize: this.pageSize }

        //发送Ajax请求，访问后端，获取分页数据
        getEmployeeList(params).then(res => {
          if (res.data.code === 1) {
            this.records = res.data.data.records;
            this.total = res.data.data.total;
          }
        }).catch(err => {
          this.$message.error('查询失败' + err.message);
        })

      }
    }
  }
</script>

<style lang="scss" scoped>
  .disabled-text {
    color: #bac0cd !important;
  }
</style>