<template>
  <div class="dashboard-container">
    <div class="container">
      <div class="tableBar">
        <label style="margin-right: 10px">员工姓名：</label>
      
        <el-input  placeholder="请输入员工姓名" style="width: 15%"/>
      </div>
    </div>

  </div>
</template>
<script lang="ts">

export default  {
  
}
</script>

<style lang="scss" scoped>
.disabled-text {
  color: #bac0cd !important;
}
</style>
