<template>
  <div class="dashboard-container">
    <div class="container">
      <div class="tableBar">
        <label style="margin-right: 10px"> 员工姓名：</label>
        <el-input  v-model="name" placeholder="请输入员工姓名" style="width: 15%"/>
        <el-button type="primary" style="margin-left: 10px" @click="pageQuery()">查询</el-button>
        <el-button type="primary" style="float: right">+  添加员工</el-button>
      </div>
    </div>

  </div>
</template>
<script lang="ts">
import {getEmployeeList} from '@/api/employee'
export default  {
  data(){
    return{
      name: '',     //员工姓名
      page: 1,
      size: 10,
      total: 0,
      records: []
    }
  }

  methods: {
    //分页查询
    pageQuery() {
      //发送Ajax请求，访问后端，获取分页数据
      getEmployeeList({name: '',page:1,size:10})
      
    }
  }
}
</script>

<style lang="scss" scoped>
.disabled-text {
  color: #bac0cd !important;
}
</style>
