<template>
  <div class="dashboard-container">
    <div class="container">
      <div class="tableBar">
        <label style="margin-right: 10px"> 员工姓名：</label>
        <el-input  v-model="name" placeholder="请输入员工姓名" style="width: 15%"/>
        <el-button type="primary" style="margin-left: 10px" @click="pageQuery()">查询</el-button>
        <el-button type="primary" style="float: right">+  添加员工</el-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { getEmployeeList } from '../../api/employee'; //导入获取员工列表的方法

interface DashboardData {
  name: string;
  page: number;
  size: number;
  total: number;
  records: any[]; // 根据你的记录类型替换 any 为更具体的类型
}

export default  {
  data(){
    
    return{
      name: '',     //员工姓名
      page: 1,      //当前页    
      size: 10,     //每页显示的记录数
      total: 0,     //总记录数
      records: []   //当前页面要展示的数据
    }
  },

  methods: {
    pageQuery() {
  // 准备请求参数
  const params = { name: this.name, page: this.page, size: this.size };

  // 发送Ajax请求，访问后端，获取分页数据
  getEmployeeList(params)
    .then(response => {
      // 假设response.data包含一个对象，其中包含records和total属性
      this.records = response.data.records;
      this.total = response.data.total;
    })
    .catch(error => {
      console.error('获取员工列表时发生错误：', error);
    });
}
  }
}
</script>

<style lang="scss" scoped>
.disabled-text {
  color: #bac0cd !important;
}
</style>
