<template>
  <div class="dashboard-container">
    <div class="container">
      <div class="tableBar">
        <label style="margin-right: 10px"> 员工姓名：</label>
        <el-input  placeholder="请输入员工姓名" style="width: 15%"/>
        <el-button type="primary" style="margin-left: 10px" @click="pageQuery()">查询</el-button>
        <el-button type="primary" style="float: right">+  添加员工</el-button>
      </div>
    </div>

  </div>
</template>
<script lang="ts">

export default  {

  methods: {
    pageQuery() {
      console.log('pageQuery')
    }
  }
}
</script>

<style lang="scss" scoped>
.disabled-text {
  color: #bac0cd !important;
}
</style>
